body{
    background-image: url(./img/MacBook\ Pro\ -\ 1.svg);
    background-color: #48D1CC;
    background-repeat: no-repeat;
    pointer-events: auto;
    background-size: cover;
    opacity: 0.90;
    background-position: center;
    
    height: 100%;   
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    gap: 300px;
    padding: 2vh;
    justify-content: space-evenly;
}

.prato img{
    height: 600px;  
    position: relative;
    top: 50px;
    right: 25x;
}
.menu_cima{
    display: flex;
    gap: 100px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}
main{
    height: 80vh;
    display: flex;
    justify-content: end;

    
    
}

footer{
   margin: 20px;
    bottom: 2px;
}
.botao1{
    background-color: #FFB6C1;
    border: solid 2px #FFB6C1;
    padding: 10px;
    border-radius: 20px;
    color: black;
    
    margin: 30px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;

}
.botao2{
    background-color: #FFB6C1;
    border: solid 2px #FFB6C1;
    padding: 10px;
    border-radius: 20px;
    color: black;
   
    margin: 30px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.compra{
    background-color: darkorange;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.compra img{
    height: 30px;
}
.apps{
    display: flex;
    align-items: end;
    width: 200px;
}
.apps img{
    height: 30px;

}
.anima{
    background-color: darkturquoise;
    border-radius: 20px;
    height: 30px;
    width: 140px;
    align-items: center;
    text-align: center;
    z-index: -1;
    position: absolute;
    left: 615px;
    top: 38px;

}

@media(max-width:380px){

    .prato{
        width: 10vw;

    }
    main{
        flex-direction: column;
    }

}

